body{
    background-color: #d9e1e7;
    height: 100%;
    color: #000;
}

.main-page{
    margin: 30px;
}   

.main-page .card .card-body{
line-height: 3px;
margin-top: 0.5em;
margin-bottom: 1em;
}

.login-page, .reg-page, .add-tests-page, .add-question-page{
    color: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page .container{
    width: 40%;
    margin-top: 7%;
}

.login-page h1{
    text-align: center;
    font-weight: bold;
    font-size: 66px;
}

.login-page label{
    font-size: 32px;
    font-weight: bold;
}

.login-page button{
font-size: 20px;
}

.reg-page .container{
    width: 40%;
    margin-top:20px;
}

.reg-page h1{
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}

.reg-page label{
    font-size: 20px;
    font-weight: bold;
}

.message, .message-type{
    border: 2px solid #cc99ff;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.transition{
    text-align: center;
    font-size: 16px;
}

.transition a{
    color: #00a550;
}

.none{
    display: none;
}

.add-tests-page .container{
    width: 75%;
    margin-top:20px;
}

.add-tests-page h1, .add-question-page h1{
    text-align: center;
    font-weight: bold;
    font-size: 44px;
}

.add-tests-page label, .add-question-page label{
    font-size: 32px;
    font-weight: 450;
    font-weight: bold;
}

.add-tests-page select{
    font-size: 20px;
}

.add-question-page .container
{
    width: 65%;
    margin-top:20px;
}

.add-question-page select{
    font-weight: bold;
    font-size: 18px;
}

.add-question-page table{
    font-size: 24px;
}

.list-group
{
    font-size: 22px;
}